!!!
html(lang="en")
	head
		title= Users
		link(rel='stylesheet', type='text/css', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
		link(href='http://fonts.googleapis.com/css?family=Radley', rel='stylesheet' type='text/css')
		link(rel="stylesheet", type="text/css", href="/stylesheets/style.css")
	body
		
		h1 hello world

		p.user
			ul.userInfo
				li.photo #photo_url
				li.name #name
				li.userId #turbo_user_id
				li.session_token #session_token


	script(src="http://code.jquery.com/jquery-1.10.1.min.js")
	script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
	script(type="text/javascript", src="/javascripts/--.js")
